/*
* hackNY Fall '15 CSS File
* http://bit.ly/1ywfhq7
*/

/* Open Sans Google Font */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

* {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

body {
  background: url('../images/background.jpeg') no-repeat center center fixed;
  background-size: cover;
}

.buttons {
  padding-top: 50px;
}

.hero {
  background: -moz-linear-gradient(top, rgba(233,42,39,0.86) 0%, rgba(233,42,39,0.72) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(233,42,39,0.86)), color-stop(100%,rgba(233,42,39,0.72))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(233,42,39,0.86) 0%,rgba(233,42,39,0.72) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(233,42,39,0.86) 0%,rgba(233,42,39,0.72) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(233,42,39,0.86) 0%,rgba(233,42,39,0.72) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(233,42,39,0.86) 0%,rgba(233,42,39,0.72) 100%); 

  height: 100vh;
  text-align: center;
}

.hero a {
  border: 3px solid #fff;
  border-radius: 9px;
  color: #fff;
  font-size: 20px;
  margin: 10px;
  padding: 5px 24px;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.hero a:hover {
  background: #fff;
  color: #E92A27;
}

.row {
  margin-top: 250px;
}